
<ion-navbar *navbar>
  <a menu-toggle>
    <icon menu></icon>
  </a>
  <ion-title>Venn Music</ion-title>
</ion-navbar>


<ion-content padding class="getting-started">

  <img class="logo" src="public/img/logo.png" />
  <search-bar (select)="useTrack($event)" ></search-bar>
  
  <div class="headline" *ng-if="currentTrack.title">
    Tracks in playlists containing {{currentTrack.user.username}} - {{currentTrack.title}} :
  </div>
  
  <div class="loader-wrapper" *ng-if="loading">
    <div class="loader">
    </div>  
  </div>
    
  <ul *ng-if="tracks" class="venn-result">
     <li class="track" *ng-for="#track of tracks; #i = index">
        <div class="track_background-image"  [ng-style]="{'background-image': 'url(' + track.artwork_url + ')'}">
        </div>
        <div class="track_content" [ng-class]="{active: track.id == getCurrentTrack().id}" (click)="playTrack(track)">
          {{ track.user.username }} {{ track.title }} ({{ track.total_count }})
        </div>
    </li>
  </ul>

</ion-content>


<div class="status">
<a play-pause-button class="material-icon">
  <span class="first"></span>
  <span class="second"></span>
  <span class="third"></span>
</a>
<a next-button class="status_button-container">
   <img class="status_button"src="public/img/icon-next.png" />
</a>

<div class="status_wrapper" *ng-if="getCurrentTrack().title">
  <div accesskey="" class="status_wrapper_artist">{{ getCurrentTrack().user.username}}</div>
  <div class="status_wrapper_title">{{ getCurrentTrack().title}}</div>
  <div seek-bar class="progress" >
    <div class="progress_bar"></div>
    <div class="progress_content" seek-bar-status></div>
  </div>
</div>
</div>

